---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
	publishDate: number;
}

function formatDate(date) {
	return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}

let title = 'Blog Sample';
let description = 'A test.';
let permalink = 'https://rightclick.com.au/';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob('./posts/*.md');

// See how many years we have.
let allYears = allPosts.map( (p) => {
	const [year,month] = p.frontmatter.date.split("-")
	return year } );

// just the unique ones
let uy = [...new Set(allYears)];	

// sort the years
let uniqueYears = uy.sort((a, b) => 
	{  if (a < b)  { return -1;  }
	if (a > b)  { return 1;  }
	return 0;
	}
);

// this page will just show the top ten posts
let filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
filteredPosts = filteredPosts.slice(0,10)


---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
		<link rel="stylesheet" href='../../styles/blog.css' />

		<style>
			header {
				width: 100%;
				height: 100%;
				background-color: var(--theme-bg-offset);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content {
				margin-top: 4rem;
				margin-bottom: 8rem;
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}

			.intro {
				padding-bottom: 4rem;
				margin-bottom: 2rem;
				border-bottom: 4px solid var(--theme-divider);
			}

			.intro > * {
				margin: 0;
			}

			.latest {
				font-size: 2.5rem;
				font-weight: 700;
			}
		</style>
	</head>

	<body>
		<BlogHeader />
		<div class="wrapper">
			<main class="content">
				<section class="intro">
					<h1 class="latest">{title}</h1>
					<p>{description}</p>
				</section>
				<h5>Years: 
				{uniqueYears.map((y) => <span> -<a href={y}>{y}</a></span>)}
				</h5>
				
				<section aria-label="Blog post list">
					{filteredPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>
			</main>
		</div>
	</body>
</html>
